@font-face {
    font-family: vShinime; /* Имя шрифта */
    src: url(/styles/fonts/Brokgauz_Efron.ttf); /* Путь к файлу со шрифтом */
}

body {
    font-family: vShinime, Arial, sans-serif;
}
.shinima-header {
    padding: 8px 100px;
    background-color: #505050;
    font-size: 1.2em;
}
.navbar-brand {
    font-size: 1.3em;
}
.shinima-input-file {
    margin-top: 12px;
    color: white;
}
.shinima-select {
    margin-top: 10px;
    color: black;
}

.common-label label {
    padding: 0;
    font-size: 1.2em;
}

.user-info {
    margin: 35px 0;
}

.big-text {
    font-size: 1.5em;
}

.articles {
    padding: 10px;
    margin: 0;
}

/*.glyphicon {  margin-bottom: 10px; margin-right: 10px;}*/

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.user-photo {
    text-align: center;
}

.info {
    border-left: solid #ddd 2px;
}

.table-friends {
    padding: 10px;
}

.table-friends table {
    font-size: 1.2em;
    border: solid #ddd 2px;
}

.table-friends table td {
    width: 25%;
}

.table-friends a {
    padding: 1px 10px;
    margin-right: 50px;
}

.table-friends table tr:first-child {
    border: solid #ddd 2px;
}

.add-article img {
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.second-column-form {
    border-left: solid #ddd 2px;
}