.common-label label {
    padding: 0;
    font-size: 1.2em;
}

.user-info {
    margin: 35px 0;
}

.big-text {
    font-size: 1.5em;
}

.articles {
    padding: 10px;
    margin: 0;
}

.glyphicon {  margin-bottom: 10px; margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.user-photo {
    text-align: center;
}

.info {
    border-left: solid #ddd 2px;
}