@font-face {
    font-family: vShinime; /* Имя шрифта */
    src: url(/styles/fonts/Brokgauz_Efron.ttf); /* Путь к файлу со шрифтом */
}

body {
    margin-top: 75px;
    font-family: vShinime, Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url(/images/main.jpg) fixed;
    background-size: 100%;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

/* Header */
.shinima-header {
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    padding: 8px 100px;
    background-color: #505050;
    font-size: 1.2em;
}

.shinima-header img {
    float: left;
}

.shinima-header .navbar-brand {
    font-size: 1.3em;
}

/* Index */
.main-text {
    text-align: center;
}

.main-text .shinima-description {
    white-space: pre-wrap;
    text-align: left;
    line-height: 1.4em;
}

/* Edit profile */
.shinima-input-file {
    margin-top: 12px;
    color: white;
}

.shinima-select {
    margin-top: 10px;
    color: black;
}

.common-label label {
    padding: 0;
    font-size: 1.2em;
}

/* Profile */
.user-info {
    margin: 35px 0;
}

.big-text {
    font-size: 1.5em;
}

.user-photo {
    text-align: center;
}

.info {
    border-left: solid #ddd 2px;
}

.articles {
    padding: 10px;
    margin: 0;
}

.articles .article-buttons {
    height: 40px;
}

.add-article img {
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* Dialog */
.shinima-dialog {
    height: 80%;
    overflow-y: scroll;
}

.message-bubble {
    padding: 10px;
}

.message-bubble .text-muted {
    color: inherit;
}

.message-bubble-light {
    color: black;
    background-color: #F5F5F5;
}

.message-bubble-dark {
    color: #ddd;
}

.message-bubble > * {
    padding-left: 10px;
}

.panel-body {
    padding: 0;
}

.panel-footer form {
    margin: 0;
}

/* Messages */
.shinima-messages .panel-title {
    padding: 10px 0;
    height: 50px;
}

.shinima-messages .message-time {
    padding-top: 5px;
}

.shinima-messages .panel-body {
    padding: 10px 0;
    background-color: #ddd;
    color:black;
}

.shinima-messages .last-message {
    height: 3em;
    overflow: hidden;
}

/* Friends */
.table-friends {
    padding: 10px;
}

.table-friends table {
    font-size: 1.2em;
    border: solid #ddd 2px;
}

.table-friends table td {
    width: 25%;
}

.table-friends table tr:first-child {
    border: solid #ddd 2px;
}